.content{
    height: 100%;
    display: grid;
    grid-template-rows: 50% auto;
    grid-template-columns: 50% auto;
    grid-template-areas: "card card" "card card";
}

.card {
    margin: 50px;
  padding-left: 100px;
   
}

.card img{
    background-size: cover;
    max-width: 50vh;

}