.toolbar{
    background-color: aquamarine;
    display: flex;
    height: 100%;
}

.name{
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.webs{
    display: flex;
    list-style: none;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
}

.webs li{
    padding-right: 15px;
    
}

.webs li a img{
    text-decoration: none;
    color: rgb(109, 122, 122);
    max-width: 25px;
    max-height: 25px;
}

